<html>
<head>
    <title>102 Questions</title>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <link href="/static/101qs.css" />
    <script src="/static/101qs.js"></script>
</head>

<body>
    <noscript>JavaScript is required.</noscript>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">101 Questions</a>
            </div>
            {% if session['email'] %}
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning fade in">
      <button class="close" data-dismiss="alert">×</button>
      {{ message }}
    </div>
    {% endfor %}
    <div id="content" class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
