{% extends "base.html" %}
{% block body %}
<h3>Title</h2>
<div id="viewTitle">
    <span class="item editable" data-title="title" data-url="/campaign/{{ campaign['id'] }}/title">
        {{ campaign['title'] }}
    </span>
</div>

<h3>Targets</h2>
<div id="viewTargets">
    <ol>
        <li>
            <input class="item toggleable" data-url="/campaign/{{ campaign['id'] }}/targets" type="checkbox" name="targets" value="{{ user['id'] }}" {% if user in campaign['targets'] %}checked{% endif %} />
            {{ user['name'] }} ({{ user['email'] }})
        </li>
        {% for friend in user['friends'] %}
        <li>
            <li>
                <input class="item toggleable" data-url="/campaign/{{ campaign['id'] }}/targets" type="checkbox" name="targets" value="{{ friend['id'] }}" {% if friend in campaign['targets'] %}checked{% endif %} />
                {{ friend['name'] }} ({{ friend['email'] }})
            </li>
        </li>
        {% endfor %}
    </ol>
</div>

<h3>Start Date</h2>
<div id="viewStartDate">
    <span class="item editable" data-title="start-date" data-url="/campaign/{{ campaign['id'] }}/start-date">
        {{ campaign['start-date'] }}
    </span>
</div>

<h3>Frequency</h2>
<div id="viewFrequency">
    <span class="item editable" data-title="frequency" data-url="/campaign/{{ campaign['id'] }}/frequency">
        {{ campaign['frequency'] }}
    </span>
</div>
{% endblock %}
